body {
  background-color: rgb(77, 76, 76);
}

.tapa-regalo {
  position: relative;
  width: 500px;
  height: 150px;
  left: 350px;
  background-color: rgb(44, 177, 66);
}

.tapa-regalo:hover {
  position: absolute;
  width: 500px;
  height: 150px;
  left: 358.5px;
  background-color: rgb(44, 177, 66);
  top: 50px;
  z-index: 50;
}

.lazo-tapa {
  position: absolute;
  height: 150px;
  width: 149.5px;
  background-color: rgb(255, 0, 0);
  left: 180px;
}

.felices-fiestas {
  position: relative;
  top: 50px;
  left: 500px;
}

.title-1 {
  left: 15px;
  bottom: 20px;
  position: absolute;
  text-align: center;
  color: wheat;
}

.title-2 {
  color: wheat;
}

.caja-regalo {
  position: relative;
  top: 50px;
  left: 350px;
  width: 500px;
  height: 400px;
  background-color: rgb(44, 177, 66);
}

.lazoy {
  position: absolute;
  width: 150px;
  height: 400px;
  background-color: rgb(255, 0, 0);
  left: 180px;
}

.lazox {
  position: absolute;
  height: 150px;
  width: 500px;
  background-color: rgb(255, 0, 0);
  top: 120px;
}
